/*RESET*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*HTML*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/
  font-family: Arial, Helvetica, sans-serif;

}

/*CLEARFIX PER ELEMENTI FLOAT*/
.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}

/*AMPIEZZA IMMAGINE AL 100% DEL CONTENITORE*/
img {

  max-width: 100%;
  /* max-height: 100%; */

}

/*TEST RULE*/
/* p {

  color: red;

} */

/*FLEX PARTS*/
.display-flex {

  display: flex;

}

.align-items-center {

  align-items: center;

}

/*POSITION PARTS*/
.position-absolute {

  position: absolute;

}

.position-relative {

  position: relative;

}

/* TYPOGRAPHY */
.font-size-10 {

  font-size: 1rem;

}

.font-size-20 {

  font-size: 2rem;

}

.font-size-30 {

  font-size: 3rem;

}

.font-size-25 {

  font-size: 2.5rem;

}


/*COMMON*/


/*------------------------------------------SPECIFIED RULES-----------------------------------------------------*/

.viewport {

  width: 100%;
  height: 100vh;
  

}

main {

  height: calc(100% - 100px);
  width: 100%;
  background-color: black;
  padding: 50px 50px 10px;

}

.content {

  height: 100%;
  width: 100%;
  margin: 0 auto;

  /*DEBUG*/
  
  border: 1px solid white;

}
footer {

  height: 100px;
  background-color: #222222;

}

.row {

  height: calc(100% / 5);

  /*DEBUG*/
  border: 1px solid orange;

}

.col {

  width: calc(100% / 7);
  text-align: center;
  padding: 5px 5px 5px 0px;

  /*DEBUG*/
  border: 1px solid violet;

}

.col img {

  max-height: 100%;

}

.col .name {

  bottom: 0px;
  left: 0px;
  background-color: aqua;


}